node_modules
coverage
dist
.tsbuildinfo

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

*.pem
*.map

npm-debug.log*

# IDE
.vscode
.idea
*.code-workspace
*.sublime-*
