body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: left;
  margin: 2em 6em;
  line-height: 1em;
}

.List {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(512px, 1fr));
  grid-gap: 1em;
}

.Visitor {
  display: flex;
  padding: 4px;
  background: #eee;
  color: #666;
  border-radius: 5em;
  cursor: pointer;
}

.Visitor--muted {
  opacity: 0.25;
}

.Visitor:hover:not(:disabled) {
  background: #fff;
  box-shadow: inset 0 0 16px 8px #eee;
}

.Visitor-avatar {
  flex: 0 0 auto;
  width: 3em;
  height: 3em;
  background-color: #eee;
  overflow: hidden;
  border-radius: 100%;
}

.Visitor-meta {
  flex: 1 1 0;
  margin: 0 1em;
}

.Visitor-name {
  color: #333;
  font-size: 1.5em;
  line-height: 1.333em;
}

.Visitor-ts {
}

.Visitor-pages {
  flex: 1 1 0;
}

.Visitor-page {
  position: relative;
  padding-left: 1em;
}

.Visitor-page::before {
  content: '';
  position: absolute;
  border: 2px solid #999;
  height: 0.25em;
  width: 0.25em;
  border-radius: 100%;
  left: 0;
  top: 0.375em;
}

.Visitor-page:last-child::before {
  background: #999;
}

.Visitor-page + .Visitor-page::after {
  content: '';
  position: absolute;
  border-left: 2px solid #999;
  height: 0.75em;
  width: 1px;
  left: 0.25em;
  margin-left: -1px;
  bottom: 0.5em;
}


/* ---------- Pagination ---------- */

.Pagination {
  display: flex;
  align-items: center;
  justify-content: right;
  margin-bottom: 2em;
}

.Pagination > * {
  font-size: 1.25em;
  line-height: 1em;
  padding: 1em 0;
  background: #eee;
  color: #333;
}

.Pagination > button {
  width: 3em;
  border-radius: 0;
  border: none;
  cursor: pointer;
}

.Pagination > button:disabled {
  color: #ccc;
  cursor: default;
}

.Pagination > button:hover:not(:disabled) {
  background: #fff;
  box-shadow: inset 0 0 16px 8px #eee;
}

.Pagination > button:first-child {
  border-radius: 100% 0 0 100%;
}

.Pagination > button:last-child {
  border-radius: 0 100% 100% 0;
}

/* ---------- Spinner ---------- */

.Spinner {
  position: fixed;
  top: 0; right: 0; left: 0; bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  background: rgba(0, 0, 0, 0.25);
  color: #fff;
  text-shadow: 0 0 8px #000;
}
