/*
  Rhythm for font sizes:
  Consecutive sizes differ by the cube root of 3 (rounded to the nearest
  integer.) Font size doubles every 3 steps.
*/
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono|IBM+Plex+Sans:400,400i,700&display=swap");

body {
  margin: 0;
  padding: 30px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html,
body,
input,
select,
option,
button,
td,
th {
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif; */

  font-family: "IBM Plex Sans", monospace;
  color: #333;
  font-size: 15px;
  line-height: 1.5em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  line-height: 1.26em;
  padding: 0;
  margin: 1em 0 0 0;
  color: #000;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 19px;
}

h4 {
  font-size: 15px;
  font-weight: bold;
}

h5 {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

blockquote,
pre {
  padding: 0 16px;
  margin: 16px 0;
  border-left: 1px solid #555;
  overflow: auto hidden;
}

a {
  color: inherit;
  text-decoration: underline;
  text-decoration-color: #f36;
}

a:hover {
  background-color: #f36;
  box-shadow: -4px 0 0 0 #f36, 4px 0 0 0 #f36;
  color: #fff;
  text-decoration: none;
}

/** Styles for the example **/

.Example {
  text-align: left;
  width: 100%;
  line-height: 1em;
}

.Pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2em;
}

.Pagination > * {
  font-size: 1.25em;
  line-height: 1em;
  padding: 1em 0;
  background: #eee;
  color: #333;
}

.Pagination > span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Pagination > button {
  width: 3em;
  border-radius: 0;
  border: none;
  cursor: pointer;
}

.Pagination > button:disabled {
  color: #ccc;
  cursor: default;
}

.Pagination > button:hover:not(:disabled) {
  background: #fff;
  box-shadow: inset 0 0 16px 8px #eee;
}

.Pagination > button.PrevPage {
  border-radius: 100% 0 0 100%;
}

.Pagination > button.NextPage {
  border-radius: 0 100% 100% 0;
}

.Query {
  position: fixed;
  display: block;
  top: -1px;
  left: -60%;
  height: 100%;
  width: 60%;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  font-size: 16px;
  line-height: 1.5em;
  box-sizing: content-box;
  border: none;
  background: #eee;
  z-index: 1;
  padding: 24px;
  transition: all 0.2s ease-out;
  cursor: pointer;
}

.Query:focus {
  left: 0;
  cursor: text;
  background: #fff;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
}

.Spinner {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  background: rgba(0, 0, 0, 0.25);
  color: #fff;
  text-shadow: 0 0 8px #000;
}

.Visitor {
  display: flex;
  flex-direction: column;
  padding: 0px;
  border: 0.5em solid #eee;
  background: #eee;
  color: #666;
  border-radius: 2em;
  cursor: pointer;
  overflow: hidden;
}

.Visitor--muted {
  opacity: 0.25;
}

.Visitor:hover:not(:disabled) {
  background: #fff;
  box-shadow: inset 0 0 16px 8px #eee;
}

.Visitor-avatar {
  flex: 0 0 auto;
  width: 3em;
  height: 3em;
  border-radius: 100%;
  overflow: hidden;
}

.Visitor-meta {
  display: flex;
  align-items: center;
  flex: 1 1 0;
}

.Visitor-name {
  color: #333;
  font-size: 1.5em;
  line-height: 1.333em;
  padding: 0 0.5em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Visitor-ts {
  text-align: center;
  color: #999;
}

.Visitor-pages {
  flex: 1 1 0;
  margin: 0.1em 0 1em 1.5em;
}

.Visitor-page {
  position: relative;
  padding-left: 1em;
}

.Visitor-page::before {
  content: "";
  position: absolute;
  border: 2px solid #999;
  height: 8px;
  width: 8px;
  border-radius: 100%;
  left: -5px;
  bottom: 0.1em;
}

.Visitor-page:last-child::before {
  background: #999;
}

.List {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12em, 1fr));
  grid-gap: 1em;
}

/**
 * a11y-light theme for JavaScript, CSS, and HTML
 * Based on the okaidia theme: https://github.com/PrismJS/prism/blob/gh-pages/themes/prism-okaidia.css
 * @author ericwbailey
 */

code,
pre {
  color: #555;
  background: none;
  font-family: "IBM Plex Mono", monospace;
  font-size: 15px;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.13;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #696969;
}

.token.punctuation {
  color: #545454;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #007faa;
}

.token.boolean,
.token.number {
  color: #008000;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #aa5d00;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #008000;
}

.token.atrule,
.token.attr-value,
.token.function {
  color: #aa5d00;
}

.token.keyword {
  color: #d91e18;
}

.token.regex,
.token.important {
  color: #d91e18;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

@media screen and (prefers-contrast: more) {
  code[class*="language-"],
  pre[class*="language-"] {
    color: windowText;
    background: window;
  }

  :not(pre) > code[class*="language-"],
  pre[class*="language-"] {
    background: window;
  }

  .token.important {
    background: highlight;
    color: window;
    font-weight: normal;
  }

  .token.atrule,
  .token.attr-value,
  .token.function,
  .token.keyword,
  .token.operator,
  .token.selector {
    font-weight: bold;
  }

  .token.attr-value,
  .token.comment,
  .token.doctype,
  .token.function,
  .token.keyword,
  .token.operator,
  .token.property,
  .token.string {
    color: highlight;
  }

  .token.attr-value,
  .token.url {
    font-weight: normal;
  }
}
