body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
input,
select,
option,
button,
td,
th {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 19px;
}

code,
pre {
  font-family: source-code-pro, Menlo, Monaco, Consolas,
    'Courier New', monospace;
  font-size: 15px;
}
